Baltic Sea_mean.csv
Baltic Sea_med.csv
Baltic Sea_stats.csv
Black Sea_mean.csv
Black Sea_med.csv
Black Sea_stats.csv
Mediterranean Sea_mean.csv
Mediterranean Sea_med.csv
Mediterranean Sea_stats.csv
North East Atlantic_mean.csv
North East Atlantic_med.csv
North East Atlantic_stats.csv
